.donation-page{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #384351;
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 1px;
}

.card-form {
    width: 40em;
    height: 30em;
    border-radius: 10px;
    background: #333c4a;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.card-form .form-indicator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
    background: #27ae60;
    border-radius: 10px 10px 0 0;
}

.card-form .form-body {
    margin-top: 3rem;
    padding: 10px;
}

.card-form .form-body .row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.card-form .form-body .row input[type="text"] {
    appearance: none;
    width: 100%;
    margin: 0 15px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #262c36;
    color: #7c8086;
    font-size: 14px;
}

.card-form .form-body .row .form-block .button {
    text-align: justify;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 2px;
    padding: 5px 14px;
    background: #262c36;
    margin: 10px;
    font-size: 14px;
    transition: 200ms background-color;
}

.card-form .form-body .row .form-block .button:hover {
    background-color: #82d14b;
}

/* Style for the selected button */
.card-form .form-body .row .form-block .button.selected {
    background-color: #82d14b;
    color: white;
}

.card-form .form-footer {
    margin: 0 25px 15px 25px;
    padding: 15px 10px;
}

.card-form .form-footer .donation-btn {
    text-align: center;
    display: inline-block;
    width: 100%;
    /* line-height: 30px; */
    border: none;
    border-radius: 2px;
    padding: 1rem 1.5rem;
    background: #82d14b;
    margin: 5px;
    font-size: 14px;
    transition: 200ms background-color;
    cursor: pointer;
}

.card-form .form-footer .donation-btn:hover {
    background-color: #9be765;
}