#reader {
    width: 500px;
    /* Fixed width for the scanner */
    height: auto;
    margin: 0 auto;
    /* Center the scanner */
}

/* .App {
    text-align: center;
    margin-top: 20px;
} */

h1 {
    margin-bottom: 20px;
}