.navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

nav {
    flex: 1;
    text-align: right;
    font-size: 1.1rem;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.logo img{
    width: 12rem;
}

.cart-icon{
    cursor: pointer;
    margin-top: 0.8rem;
}

/* Media query for menu */
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/* Media query for <600 screen size */
@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;

    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p {
        display: none;
    }
}